{% extends 'base.html' %}
{% block title %}Car Insurance{% endblock %}
{% block body %}
<div class="about-body">
    <h2>What we offer</h2>
    <p>Hit the road with confidence knowing that your journey is protected by our comprehensive car insurance. From daily commutes to cross-country adventures, our coverage keeps you and your vehicle secure against life's unexpected twists and turns.</p>
    {% for policy in car_insurances %}
        <div class="about-block  cover-block">
            <div>
                <a class="policy-name" href="/car_insurance/{{policy.cover_id}}">{{ policy.cover_name }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}
