{% extends 'base.html' %}
<!-- {% extends 'base_loggedIn.html' %} -->
{% block body %}
<div class="insurance-container">
    <h3>Hit the road with confidence knowing that your journey is protected by our comprehensive car insurance. From daily commutes to cross-country adventures, our coverage keeps you and your vehicle secure against life's unexpected twists and turns.</h3>
    {% for policy in car_insurances %}
        <div class="block">
            <div>
                <a class="policy-name" href="/car_insurance/{{policy.cover_id}}">{{ policy.cover_name }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}
