{% extends 'base_loggedIn.html' %}
{% block title %}Claims{% endblock %}
{% block body %}
<div class="container-fluid">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            <h1>Claims</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cover ID</th>
                        <th>Payout Amount</th>
                        <th>Claim Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for claim in claims %} 
                        <tr>
                            <td>{{claim.user_cover_id }}</td>
                            <td>R {{claim.Amount }}</td>
                            <td>{{claim.date }}</td>
                            <td>{{claim.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>

    {% endblock body %}