{% extends 'base_loggedIn.html' %}
{% block body %}
<div class="container-fluid">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            <h1>Claims</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cover name</th>
                        <th>Payout Amount</th>
                        <th>Claim Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_cover in user_covers %} 
                        <tr>
                            <td>{{ user_cover.cover_name }}</td>
                            <td>{{user_cover.payout_amount }}</td>
                            <td>{{ user_cover.date }}</td>
                            <td>{{ user_cover.premium_amount }}</td>
                            <!-- <td><a href="{{url_for('claim_bp.claim')}}" class="btn btn-primary">Claim</a></td> -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>

    {% endblock body %}