{% extends 'base.html' %}
{% block title %}Cover details{% endblock %}
{% block body %}
<div class=".cover-detail-container">
    <div class="contact-container">
        <div><img class="policy-image" src="{{ policy.image_url }}" /></div>
        <div>
            <div class="policy-name">{{ policy.cover_name }}</div>
            <div class="policy-slogan">{{ policy.cover_description }}</div>
            <div class="policy-premium">Premium from R{{ policy.base_price }}p.m</div>
            <input name="cover_id" type="text" value="{{policy.cover_id}}" hidden />
        </div>
        <div>
            <a href="" class="button learn-more">Learn more</a>
        </div>
    </div>
</div>
{% endblock body %}
