{% extends 'base.html' %}
{% block body %}
<style>
.container{
    padding : 20px;
    margin-left: 20px;
}
.doc_icon{
  color:#1f6b8a;
}
a{
  color:#1f6b8a;
}
</style>
<div class="container-fluid">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-sticky">
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link" href="/dashboard">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about">Claims</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about">Rewards</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Log out</a>
                  </li>
              </ul>
          </div>
      </nav>

      <div class="container">
        {% if session['username'] %}
        <h2>Welcome, {{session['username']}}</h2>
        {% endif %}
        <div class="user-info">
          <p>First Name: {{session["first_name"]}}</p>
          <p>Last name : {{session["last_name"] }}</p>
          <p>UserName : {{username}}</p>
          <p>Mobile Number: {{session["mobile_number"] }}</p>
          <p>Email: {{session["email"]}}</p>
          <p>Gender : {{session["gender"]}}</p>
          <p>Date Of Birth : {{session["date_of_birth"]}}</p>

      </div>
        <p>Policies</p>
        <a href="user_covers" class="doc_icon"><i class="fa-solid fa-file"></i></a>
        <p>number of Active Policies</p>
        <form action="{{url_for('displays_bp.car_insurance')}}" method="get">
          <button type="submit" class="button">Add Policy</button>
        </form> 
        <a class="button" href="/add_personal_info">Add personal information</a>
      </div>
      
    </div>
  </div>
</div>
{% endblock body %}


   
