{% extends 'base.html' %}
{% block body %}
<div class="head-banner">
    {% for policy in policies %}
    <div class="banner">
        <div><img class="policy-image" src = "{{policy.image}}" /></div>
        <div>
            <div class="policy-name">{{policy.name}}</div>
            <div class="policy-slogan">{{policy.short_description}}</div>
            <div calss="policy-description">{{policy.description}}</div>
            <div class="policy-premium">Premium from R{{policy.premium}}p.m</div>
        </div>
        <div>
            <a href="" class="button learn-more">Learn more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}


