{% extends 'base_loggedIn.html' %}
{% block body %}
<!-- <style>
    
    .sub-navigation{
        text-align: center;
        margin-top: 16px;
    }
    .image{
        height: 200px;
        width: 100%;
        object-fit: contain;
        border-radius: 35px;
        mix-blend-mode: luminosity;
    }
    .banner{
        padding: 16px;
        background-color:#f3f5f7;
        display : inline-flex;
        flex-direction: column;
        height: 100%;
        border-radius: 10px;
        margin:16px 30px;
    }
    .in-banner{
        display: inline-block;
    }
    .head-banner{
        margin-bottom: 60px;
    }
    .policy-name{ 
        font-size: 25px;
        border-bottom: 1px solid black;
    }
    .policy-slogan{
        font-size:20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .learn-more, .policy-premium, .policy-description, .policy-name{
        margin-top: 15px;
    }
    .policy-image{
        width:75%;
        height: 100%;
        object-fit: contain;
    }
    @media (min-width: 500px){
        .head-banner{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 60px;
        /* justify-content:space-between; */
      }
    }
    @media (min-width: 950px){
        .head-banner{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 60px;
      }
    }
</style> -->
<div class="head-banner">
    {% for policy in policies %}
    <div class="banner">
        <div><img class="policy-image" src = "{{policy.image}}" /></div>
        <div>
            <div class="policy-name">{{policy.name}}</div>
            <div class="policy-slogan">{{policy.short_description}}</div>
            <div calss="policy-description">{{policy.description}}</div>
            <div class="policy-premium">Premium from R{{policy.premium}}p.m</div>
        </div>
        <div>
            <a href="" class="button learn-more">Learn more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}


