
{% extends 'base.html' %}
{% block body %}
<style>
    .outer-container{
        display: flex;
        justify-content: center;
        /* max-width: 5000px; */
    }
    .container{
        text-align: center;
        justify-content: center;
        border: 1px solid black;
        max-width: 500px;
        padding: 12px;
        background-color:hsl(197, 63%, 95%);
        border-radius: 12px;
        margin: 12px;
    }
</style>
<div class="outer-container">
    <div class=" container">
        <h2>Insurance Quotation</h2>
        <p>Monthly payments: {{monthly_paynemts}}</p>
        <p>no_of_years: {{no_of_years}}</p>
        <p>Premium payout at the end of {{no_of_years}} years is {{premium_payment}}</p>
    </div>
</div>
<img src="data:image/png;base64,{{ plot_url }}" alt="Premium Payment Visualization">
<div  class="outer-container"><a href="/visualize" class="btn btn-info submit-button">Visualize</a></div>
    
{% endblock body %}