
{% extends 'base.html' %}
{% block body %}
<!-- <style>
    .outer-container{
        display: flex;
        justify-content: center;
        /* max-width: 5000px; */
    }
    .container{
        text-align: center;
        border: 1px solid black;
        max-width: 500px;
        padding: 12px;
        background-color:hsl(197, 63%, 95%);
        border-radius: 12px;
        margin: 12px;
    }
</style> -->
<div class="outer-container">
    <div class=" inner-container">
        <h2>{{type_of_insurance}} Quotation</h2>
        <p>Location: {{location}}</p>
        <p>Age: {{age}}</p>
        <p>Vehicle type: {{vehicle_model}}</p>
        <p>Cover name: {{cover_name}}</p>
        <h4>Monthly payment: R{{premium_amount}}</h4>
    </div>
</div>
<div class="outer-container">
    <form action="{{url_for('add_bp.policy_taken')}}" method="post">
        <button type="submit" class="button">Add_policy</button>
    </form>
    <a href="/submitted" class="btn submit-button">Download</a>
</div>

    
{% endblock body %}