{% extends 'base_loggedIn.html' %}

{% block title %}Rewards{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Rewards</h1>
    <div class="banner">
        {% for reward in rewards %}
        <div class="reward-item">
            <img class="reward-image" src="{{ reward.rewards_image }}" />
            <div class="reward-details">
                <div class="reward-name">{{ reward.rewards_name }}</div>
                <div class="reward-description">{{ reward.rewards_description }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
