{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('user_bp.dashboard')}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('claim_bp.claim')}}">Claims</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('claim_bp.rewards')}}">Rewards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('user_bp.logout')}}">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            <h1>Rewards</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cover name</th>
                        <th>Car model</th>
                        <th>Car worth</th>
                        <th>Location</th>
                        <th>Policy date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_cover in user_covers %} 
                        <tr>
                            <td>{{ user_cover.cover_name }}</td>
                            <td>{{ user_cover.vehicle_model }}</td>
                            <td>{{ user_cover.vehicle_current_worth }}</td>
                            <td>{{ user_cover.location }}</td>
                            <td>{{ user_cover.date }}</td>
                            <td>{{ user_cover.premium_amount }}</td>
                            <td><a href="{{url_for('claim_bp.claim')}}" class="btn btn-primary">Claim</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>

    {% endblock body %}