{% extends 'base_loggedIn.html' %}

{% block title %}Rewards{% endblock %}

{% block body %}
<div class="contact-container">
    <h1>Rewards</h1>
    <div class="contact-container">
        {% for reward in rewards %}
        <div class="reward-item">
            <img class="policy-image" src="{{ reward.rewards_image }}" />
            <div class="reward-details">
                <div class="policy-name">{{ reward.rewards_name }}</div>
                <div class="policy-slogan">{{ reward.rewards_description }}</div>
                <div class="policy-premium">Use code: <span class="red">{{ reward.rewards_code }}</span></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
