{% extends 'base.html' %}
{% block body %}
<style>
        .container{
        text-align: center;
        margin-top:35px;
        padding: 0;
    }
    .check-circle{
        font-size: 200px;
        color: #1f6b8a;
        margin-bottom: 40px;
    }

</style>
 <div class="container">
    <div>
        <h1>Submitted</h1>
        <i class="fa-regular fa-circle-check check-circle"></i>
    </div>
    <div class="button">
        <a href="/contact">Back</a>
    </div>
 </div>
    
{% endblock body %}
