{% extends 'base.html' %}
{% block body %}
<h1>User Covers</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Cover name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user_cover in user_covers %} 
                <tr>
                    <td>{{ user_cover.cover_name }}</td>
                    <td><form><button type="submit" class="btn btn-primary">Edit</button></form> <form method="{{url_for('add_bp.delete_cover_by_id')}}" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form></td>
                    <!-- <td>{{ user_cover.cover_id }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock body %}