{% extends 'base.html' %}
{% block body %}
<h1>User Covers</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cover name</th>
                <th>Car model</th>
                <th>Car worth</th>
                <th>Location</th>
                <th>Policy date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user_cover in user_covers %} 
                <tr>
                    <td>{{ user_cover.cover_name }}</td>
                    <td>{{ user_cover.vehicle_model }}</td>
                    <td>{{ user_cover.vehicle_current_worth }}</td>
                    <td>{{ user_cover.location }}</td>
                    <td>{{ user_cover.date }}</td>
                    <td><a href="/update/{{user_cover.id}}" class="btn btn-primary">Update</a></td>
                    <td>
                        <form method="{{url_for('add_bp.delete_cover')}}" method="POST">
                             <input name="id" type="text" value="{{user_cover.id}}" hidden />   
                             <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock body %}